$default-red: #bc0031;
$default-red-hover: #ad0d0d;
$default-blue: #1d6adb;
$default-blue-hover: #0099ff;
$default-green: #00ac18;
$default-green-hover: #7aff66;
$text-color-def: #545454;
$text-color-dark: #101036;
$text-color-lighter: #686876;
$text-color-lightest: #9a9aaa;

$light-shadow: 0 2px 17px 0px rgba(0, 0, 0, 0.04);
$medium-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.12);
$heavy-shadow: 0 4px 20px 0px rgba(0, 0, 0, 0.12);