@import 'colors';

.addLabelWrapper {
    margin-top: 50px;
    height: 42px;
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
    margin-bottom: 25px;
    overflow: hidden;
}
.addLabelInput {
    height: 100%;
    width: calc(100% - 120px);
    float: left;
    background: transparent;
    border: 1px solid grey;
    border-right: 0;
    padding-left: 10px;
}
.labelbutton {
    width: 120px;
    height: 100%;
    font-size: 1em;
    border: 1px solid $default-red;
    color: white;
    background-color: $default-red;
    float: right;
}
.labelbutton:hover {
    background-color: darken($default-red, 7%);
}
.labelContainer {
    width: 60%;
    margin-left: 20%;
    margin-right: 20%;
}
.label {
    background: #FFF;
    box-shadow: 0 2px 4px 0 rgba(50,50,93,.1);
    margin-bottom: 10px;
}
.label-name {
    cursor: pointer;
    width: calc(100% - 45px);
    word-break: break-all;
    text-align: left;
    border: none;
    background-color: inherit;
    padding: 14px 28px;
    opacity: 0.8;
}
.label-name:focus {
  outline: 0;
}
.label-name:hover {
    opacity: 0.6;
}
.label-name-selected {
    opacity: 1;
    color: $default-red;
}
.label-name-selected:hover {
    color: $default-red;
    opacity: 1;
}
.removeLabel {
    width: 45px;
    float: right;
    background-color: white;
    opacity: 0.4;
}
.removeLabel:hover {
    opacity: 1;
}
