@import '_colors';
@import '_labels';
@import '_mentioning';
@import 'homescreen';
@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
  primary: darken(#FFF,1%), // The primary color of your application
  secondary: white, // The accent or secondary color
  primary-variant: white,

));

@import "~vue-material/dist/theme/all"; // Apply the theme

body {
    background-color: darken(#FFF, 2%);
}

// Demo fixes need to edit later
a:hover, a:focus {
    text-decoration: none !important;
    background: transparent !important;
}
a.button{
    color: white !important;
}

a.button:hover{
    background-color: $default-red !important;
}
a.breadcrumb {
    color: $default-red !important;
}

.navbar-spacing {
    height: 6em;
}

.important-red {
    background-color: $default-red !important;
    color: white !important;
}
p.def-error-msg {
    margin-top: 0.5em;
    opacity:0.9;
    color: darken($default-red, 10%);
}

h1 {
    // margin-left: 1em;
    text-align: center;
    font-size: 2.5em;
    opacity: 0.7;
}

.second-background-image {
    background-image: url(../trianglify.svg);
    background-position: center center;
    height: 100vh;
    position: fixed;
    overflow: auto;
    top: 0;
    left: 0;
}

@media screen and (max-width: 1024px) { /* Specific to this particular image */
  second-background-image {
    left: 50%;
    margin-left: -512px;   /* 50% */
  }
}

.navbar {
    min-height: 68px;
}

.navbar-tiktech {
    background-color: #FFF;
    box-shadow: $medium-shadow;
    border: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    padding: 0px;
    height: auto;
    background-color: #fff;
    transition: background-color 500ms;
}

.navbar-tiktech.navbar-transparent {
    background-color: rgba(0,0,0,0);
}

nav {
    height: initial;
}

.nav-link {
    color: #000;
}

.active, .nav-item:hover {
    color: $default-red;
        a{
            color:$default-red;
        }
}

.nav-link:active, .nav-link:hover {
    color: $default-red;
}


.home-left {
    margin-left: 35vh;
}

.home-right {
    margin-right: 1rem;
}

.form-header {
    text-indent: 0.5em;
    line-height: 1.5;
    opacity: 0.8;
}

.material-form {
    background-color: #FFF;
    padding: 18px;
    border-radius: 4px;
    box-shadow: $medium-shadow;
}

// Item attachment style (for form)
.file-add-text {
    color: $text-color-def;
    cursor: pointer;
    font-size: 1.2em;
    text-align: left;
}

.file-add-text:hover {
    text-decoration: underline;
    color: $text-color-dark;
}

.file-add-icon {
    color: $text-color-def;
    cursor: pointer;
    font-size: 1.2em;
    vertical-align: sub;
}

.file-name-container {
    line-height: 1.1em;
    width: 80%;
    box-shadow: $medium-shadow;
    font-size: 1.1em;
    border-color: lighten(#bc0031, 5%);
    border: 1px;
    margin-bottom: 10px;
}

.file-name-container-small {
    box-shadow: $medium-shadow;
    font-size: 0.9em;
    border-color: lighten(#bc0031, 5%);
    border: 1px;
    margin-bottom: 5px;
}

.student-ticket-wrapper{
    margin: 0 auto !important; // Needs to happen in order to center
    width:80%;
}

.download-icon{
    vertical-align: text-bottom;
}

.file-ocr-button {
    width: 10%;
    padding-bottom: 15px !important;
}

.file-listing-small {
    cursor: pointer;
    margin-bottom: 0px;
    padding-bottom: 0px;
    float: right;
    color: $text-color-def;
}
.file-listing-small:hover {
    background-color: darken(#FFF, 5%);
    color: $text-color-dark
}

.file-listing {
    padding-bottom: 5px;
    padding-left: 10px;
    color: $text-color-def;
}

.file-listing:hover {
    background-color: darken(#FFF, 5%);
}
.light-stripe {
    padding-left: 0px;
    width: 95%;
    color: $text-color-lighter;
    border-top: 1px solid #aaaaaa;
    margin: 2px;
}

.file-remove-icon {
    color: $default-red;
    text-align: right;
    cursor:pointer;
    float: right;
    padding-right: 15px;
}

.form-text {
    opacity: 0.7;
}

.scroll-button {
    font-size: 18px;
    padding: 20px 40px;
    background-color: #bc0031;
    border-color: #bc0031;
    color: white;
    display: inline-block;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    position: relative;
    text-decoration: none;
    // transition: color 0.1s cubic-bezier(0.16, 0.08, 0.355, 1), background 0.1s cubic-bezier(0.16, 0.08, 0.355, 1);

    cursor: pointer;


    &:hover {
        background: lighten($default-red, 5%);
        border-color: lighten($default-red, 5%);
        color: #fff;
    }
}

.hidden-input{
    position: absolute;
    top: -500px;
}

.btn-arrow {
  position: relative;
    transition: background-color 300ms ease-out;
  span {
    display: inline-block;
    position: relative;
    transition: all 300ms ease-out;
    will-change: transform;
  }
  &:hover span {
    transform: translate3d(0, -2.1rem, 0);
    color: transparent;
  }
  svg {
    position: absolute;
    width: 1.5em;
    right: 42%;
    opacity: 0;
    top: 100%;

    transition: all 300ms ease-out;
    will-change: top, opacity;
    * {
      stroke-width: 5;
      stroke-color: transparent;
    }
  }
  &:hover svg {
    opacity: 1;
    right: 42%;
    top: 2em;
  }
}

.middle-display {
    display: flex;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 50px;
}

.subheading-middle {
    display: flex;
    justify-content: center;
}

header.masthead {
    text-align: center;
    background-image: url("../low-poly-texture.png");
    background-size: 100%;
    background-position: center;
    min-height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 55px;
}
.message-struct-section {
    div.row {
        padding: 10px;
        background-color: rgba(255,255,255,0.7) !important;
    }
    h3 {
        margin-bottom: 30px !important;
    }
    background-image: url("../mountains.jpg");
    min-height: 100vh;
    background-position: center;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.service-section {
    div.row {
        padding: 10px;
        background-color: rgba(255,255,255,0.9) !important;
        padding-bottom: 40px;
    }
    h4 {
        font-size: 1.4em;
    }

    p {
        font-size: 1.2em;
        color: black !important;
    }

    background-image: url("../multibuisness.png") ;
    min-height: 100vh;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-fluid {
    padding: 0px;
}

.form-control {
    border-radius: 0;
}


.table-bordered {
    background-color: rgba(255,255,255,0.6);
    margin-top: 10px;
    max-height: 65vh;
    overflow-y: scroll;
}

.form-control-title {
    width: 100%;
    background: transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    display: block;
    margin-top: 20px;
    border-radius: 0;
    font-size: 2em;
    padding: 5px;
    color: #495057;
    border-bottom: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.breadcrumb {
    background-color: inherit;
    list-style: none;
    display: flex;
    border: none;
    background-color: inherit;
    margin: auto;
    font-size: 1.5em;
    padding: auto;
    color: $default-red !important;

    & .breadcrumb-item {
        border: none;
        background-color: inherit;

        & > .breadcrumb-link {
            background-color: inherit;
            border: none;
            font-weight: 600;
            transition: all 0.4s ease;
            transition: color 0.5s ease;
            color: $default-red !important;

            &:hover {
                color: darken($default-red, 10%);
            }
        }
    }
}

.btn {
    border-radius: 0;
    color: white !important;
    background-color: $default-red !important;
}
.btn:hover{
    background-color: darken($default-green, 7%);
}

.btn-submit {
    background-color: $default-green;
    border-color: $default-green;
}

.btn-submit:focus,
.btn-submit:hover {
    background-color: darken($default-green, 5%);
    border-color: darken($default-green, 5%);
}

.btn-submit:not(.disabled):not(:disabled):active {
    background-color: darken($default-green, 7%);
    border-color: darken($default-green, 7%);
}

.btn-submit:disabled {
    background-color: darken($text-color-lighter, 7%);
    border-color: darken($text-color-lighter, 7%);
}

.close-button{
    float: right;
}

.btn-primary:disabled {
    background-color: darken($text-color-lighter, 7%);
    border-color: darken($text-color-lighter, 7%);
}

.btn-close-note {
    float: right;
    padding-right: 0px;
    padding-top: 0px;
    background-color: white;
    opacity: 0.4;
}
.btn-close-note:hover {
    opacity: 1;
}

.list-course {
    background: #FFF;
    overflow-x: hidden !important;
    display: block;
    box-shadow: 0 2px 4px 0 rgba(50,50,93,0.3);
    transition: transform 0.1s ease-in-out;
}
.home-scroll-courses {
    max-height:60vh;
    overflow-y: scroll;
}
a.list-course:hover, a.list-course:focus {
    // transform: translate(0.5em);
    overflow-x: hidden;
    color: white !important;
}
div.notification-container {
    background-color: rgba(255,255,255,.5);
    height: 100%;
    max-height:60vh;
}

div.homescreen-container {
    width: 50%;
    height: 100%;
    float: right;
}

.box__dragndrop,
.box__uploading,
.box__success,
.box__error {
  display: none;
}
.box.has-advanced-upload {
  background-color: white;
  outline: 2px dashed black;
  outline-offset: -10px;
}
.box.has-advanced-upload .box__dragndrop {
  display: inline;
}

.list-ticket {
    padding: 10px;
    background: #FFF;
    display: block;
    box-shadow: 0 2px 4px 0 rgba(50,50,93,.1);
    margin-bottom: 0.5em;
    color: $text-color-dark;
    transition: transform 0.1s ease-in-out;
}

.list-ticket-ta {
    padding: 18px 24px;
    background: #FFF;
    box-shadow: 0 2px 4px 0 rgba(50,50,93,.1);
    margin-bottom: 1em;
    color: rgba(#000, 0.8);
    transition: transform 0.1s ease-in-out;
}

.material-card {
    background: #FFF;
    padding: 18px 24px;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(50,50,93,.1);
}

a.list-ticket {
    text-decoration: none;
}

a.list-ticket:hover, a.list-ticket:focus {
    transform: translate(0.5em);
    color: white !important;
}


.notification {
    text-align: center;
    opacity: 0.7;
    font-style: italic;
    font-size: 1.5em;
    padding: 1em;
}

.message {
    margin-top: 1em;
}

.message-container {
    margin-top: 1em;
    background-color: rgba(255,255,255,.3) !important;
}

.message-reply-container {
    margin-top: 1em;
    margin-bottom: 2em;
    background-color: rgba(255,255,255,.8) !important;
}

.plugin-container {
    margin-bottom: 2em;
}

.note-title {
    margin-top: 1.4em;
}

.remove-note {
    position:sticky;
    margin-top: -10px !important;
    margin-right: -15px !important;
    width: 20px !important;
    padding-left: 0px !important;
    float: right;
    background-color: rgba(255, 255, 255, 0);

}
.remove-note:hover {
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.5);
}

.message {
    h4 {
        color: $default-red;
        font-size: 1rem;
        font-weight: bold;
    }

    h5 {
        color: $default-red;
    }

    .material-card {
        display: inline-block;
    }
}

.note {
    margin-top: 1em;

    & h4 {
        color:$default-red;
        font-size: 1rem;
        font-weight: bold;
    }

    & p {
        overflow-wrap: break-word;
    }
}

.dropdown-button {
    background-color: darken(#FFF, 2%);
    width: 100%;
    color: $text-color-def;
    font-size: 1.5em;
}
.dropdown-button:enabled:focus {
    color: white;

}

// Reply area is the part of the messaging system that contains
// the input field and the submit button.
.reply-area {
    width: 100%;
    bottom: 1em;
    display: fixed;
    margin-top: 2em;
}

.reply-area {
    textarea {
        box-shadow: $light-shadow;
        border: 0;
        resize: none;
        padding: 0.5em;
        width: 100%;
        margin-bottom: 1em;
    }

    .reply-button {
        height: 3rem;
        margin-bottom: 10px;
        width: 3rem;
        text-align: center;
        line-height: 3rem;
        font-size: 1.5em;
        box-shadow: $light-shadow;

    }
}

.summary-container {
  position: fixed;
  //position: relative;
  width: 25%;
  height: 100%;
  right: 0;
  top: 12%;
  -webkit-transition: opacity 0.1s ease-in-out;
  padding-bottom: 10px;
}

.summary-header{
    h3 {
        font-size: 1.4em;
        padding-top: 5px;
        padding-bottom: 5px;
    }
  width: 100%;
  margin-top: 0;
  background-color: #bc0031;
  color: white;
  z-index: 0;
  z-index: 1;
  text-align: center;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, .33);
}

.summary-header h3 {
  color: white;
}
.summary-wrapper {
  background-color: darken(#FFF, 3%);
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease-out;
  font-family: Helvetica, Arial, sans-serif;
  height: 85%;
}
.summary-tab {
    position: relative;
    height: 100%;
}
.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.summary-tab{
  width: 100%;
  // float: left;

}
.summary-tab-notes{
  width: 100%;
  height: 30%;
}
.summary-tab-original {
    width: 100%;
    height: 20%;
}

.summary-tab-middle {
    height: 50%;
}

.summary-content {
  height: 80%;
  padding: 10px;
  width: 100%;
  overflow: auto;
}

.close-sum {
  z-index: 100000;
  right: 0;
  background-color: white;
  color: $default-red;
  position: absolute;
  float: right;
  padding-top: 2px;
  line-height: 1.2;
  font-size: 1.4em;
}

.close-sum:hover {
    color: white;
    background-color: $default-red !important;
}

.noreply-text {
    font-size: 18px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    vertical-align: middle;
}

.subbox {
    width: 100%;
    word-wrap: break-word;
}
.summary-sub-container {
    float: right;
    top: 10%;
    padding-left: 1%;
    width: 30%;
    zoom: 1;
}

@media only screen and (max-width: 1100px) {
    .summary-sub-container {
        display: none;
    }
}
.sum {
  width: auto;
  word-wrap: break-word;
}

.white {
        background-color: #F2F2F2
}

.red {
    background-color: $default-red;
    color: white;
}
.sum-original {

  padding: 10px;
  word-wrap: break-word;
}

.md-table {
    min-width: 60em;
    max-width: 65em;
}

.tickettable:hover {
    background-color: lightgrey !important;
    color: black !important;
    cursor: pointer;
}

.md-input {
    color: white;
}
.activated {
    background-color: lightgrey !important;
    color: black !important;
}
footer {
    a {
        color: white !important;
        opacity: 0.6 !important;
        margin-left: 10px !important;
        padding-bottom: 0px;
        text-shadow: 1px 2px #000 !important;
        background: transparent;
        border: 0px!important;
        vertical-align: bottom;

    }
}
footer:hover {
    a {
        opacity: 1 !important;
        border: 0px!important;
        background: transparent;
    }

}

hr {
   padding: 0;
   margin: 8px auto;
   height: 0;
   width: 50%;
   max-height: 0;
   font-size: 2px;
   line-height: 0;
   clear: both;
   border: none;
   border-top: 2px solid #aaaaaa;
   border-bottom: 1px solid #ffffff;
}

.email-running {
    color: lighten(green, 10%) !important;
}
.email-not-running {
    color: $text-color-def;
}


.wrapper {
    min-height: 100vh;
}

.welcome-header {
    padding: 2vh;
    justify-content: center;
}

.center-display {
    justify-content: center;
    text-align: center;
    text-indent: 0px;
}

.margin-top {
    margin-top: 10vh;
}

.level-container {
    margin-top: 2vh;
    max-height: 14vh;
    min-height: 14vh;
    overflow: auto;
}

.notification-container-medium {
    margin-top: 2vh;
    min-height: 35vh;
    max-height: 35vh;
    overflow: auto;
}

.course-container-medium {
    min-height: 29vh;
    max-height: 29vh;
    overflow: auto;
}

.course-container-half {
    min-height: 27vh;
    margin-top: 2vh;
    max-height: 27vh;
    overflow: auto;
}

.notification-section-47 {
    min-height: 56vh;
    max-height: 56vh;
    overflow: auto;
}

.ticket-single {
    color: $text-color-def !important;
    padding: 5px;
    width: 100%;
    overflow: hidden;
    font-size: 1em;
    border-color: darken($text-color-def, 5%);
    border: 1px solid;
}

.ticket-single:hover {
    opacity: 0.7;
}

.ticket-container {
    min-height: 70vh;
    max-height: 70vh;
    overflow: auto;
}

.ticket-container-small {
    min-height: 50vh;
    max-height: 50vh;
}
.course-container-small {
    min-height: 24vh;
    max-height: 24vh;
    overflow: auto;
}

.notification-container-small {
    min-height: 24vh;
    max-height: 24vh;
    margin-top: 2vh;
    overflow: auto;
}

.tab-layout {
    min-height: 35vh !important;
    max-height: 35vh !important;
    overflow: auto;
}
.courses-section {
    max-height: 65vh;
    min-height: 65vh;
    overflow: auto;
}

.single-course {
    background-color: white;
}

.create-ticket-section1 {
    margin-top: 2vh;
    min-height: 11vh;
    max-height: 11vh;
    overflow: auto;
}

.create-ticket-section2 {
    margin-bottom: -4px;
    min-height: 11vh;
    max-height: 11vh;
    display:flex;
    overflow: auto;
    align-items: center;
    justify-content: center;
}

.create-ticket-section1-small {
    margin-top: 2.4vh;
}

.create-ticket-section2-small {
    min-height: 12vh;
    max-height: 12vh;
    margin-bottom: -4px;
    display:flex;
    align-items: center;
    justify-content: center;
}

.padding-bottom-0 {
    padding-bottom: 0px!important;
}

.float-left {
    float: left;
}

.padding-left-10 {
    padding-left: 10px;
}

.material-icons:hover {
    cursor: pointer;
}

.create-ticket-section:hover {
    cursor: pointer;
}

.fixedlocation {
    position: fixed;
    float: right;
}

.ocrbutton {
    width: 10%;
    padding-bottom: 5px;
    text-align: center;
    float: right;
}

.ocrbutton:hover {
    text-decoration: underline;
    color: $default-red;
    cursor: pointer;
    background-color: darken(white, 5%);
}

.ranktext {
    font-size: 0.5em;
    color: $text-color-lighter;
}

.loading {
  position: fixed;
  z-index: 999;
  height: 2em;
  width: 2em;
  overflow: show;
  margin: auto;
  visibility: hidden;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}

/* Transparent Overlay */
.loading:before {
  content: '';
  display: block;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0,0,0,0.3);
}

/* :not(:required) hides these rules from IE9 and below */
.loading:not(:required) {
  /* hide "loading..." text */
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}

.md-table .md-table-cell.md-has-action .md-table-cell-container {
  justify-content: space-around;
}
.md-table .md-table-head {
  text-align: center;
}
.md-table .md-table-cell {
  text-align: center;
}

.md-table-cell:last-child {
    padding-right: 0;
}

@import "~vue-material/dist/theme/engine"; // Import the theme engine

@include md-register-theme("default", (
    primary: $default-red, // The primary color of your brand
    accent: #00bc8a // The secondary color of your brand
));

@import "~vue-material/dist/theme/all"; // Apply the theme
