@import '_colors';
@import '_labels';
@import '_mentioning';
@import 'homescreen';

body {
    background-color: darken(#FFF, 2%);
}

.navbar-spacing {
    height: 6em;
}

p.def-error-msg {
    margin-top: 0.5em;
    opacity:0.9;
    color: darken($default-red, 10%);
}

h1 {
    // margin-left: 1em;
    text-align: center;
    font-size: 2.5em;
    opacity: 0.7;
}

.second-background-image {
    background-image: url(../trianglify.svg);
    background-size: 100%;
    background-position: center;
    min-height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.navbar {
    min-height: 68px;
}

.navbar-tiktech {
    background-color: #FFF;
    box-shadow: $medium-shadow;
    border: none;
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1030;
    padding: 0px;
    height: auto;
    background-color: #fff;
    transition: background-color 500ms;
}

.navbar-tiktech.navbar-transparent {
    background-color: rgba(0,0,0,0);
}

nav {
    height: initial;
}

.nav-link {
    color: #000;
}

.active, .nav-item:hover {
    background-color: $default-red;
    color: white;
        a{
            color:white;
        }
}

.nav-link:active, .nav-link:hover {
    background-color: $default-red;
    color: white;
}

.home-left {
    margin-left: 35vh;
}

.home-right {
    margin-right: 25vh
}

.form-header {
    text-indent: 0.5em;
    line-height: 1.5;
    opacity: 0.8;
}

.material-form {
    background-color: #FFF;
    padding: 18px;
    border-radius: 4px;
    box-shadow: $medium-shadow;
}

.form-text {
    opacity: 0.7;
}

.scroll-button {
    font-size: 18px;
    padding: 20px 40px;
    background-color: #bc0031;
    border-color: #bc0031;
    color: white;
    display: inline-block;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: 1px solid transparent;
    position: relative;
    text-decoration: none;
    // transition: color 0.1s cubic-bezier(0.16, 0.08, 0.355, 1), background 0.1s cubic-bezier(0.16, 0.08, 0.355, 1);

    cursor: pointer;


    &:hover {
        background: lighten(#bc0031, 5%);
        border-color: lighten(#bc0031, 5%);
        color: #fff;
    }
}

.btn-arrow {
  position: relative;
    transition: background-color 300ms ease-out;
  span {
    display: inline-block;
    position: relative;
    transition: all 300ms ease-out;
    will-change: transform;
  }
  &:hover span {
    transform: translate3d(0, -2.1rem, 0);
    color: transparent;
  }
  svg {
    position: absolute;
    width: 1.5em;
    right: 42%;
    opacity: 0;
    top: 100%;

    transition: all 300ms ease-out;
    will-change: top, opacity;
    * {
      stroke-width: 5;
      stroke-color: transparent;
    }
  }
  &:hover svg {
    opacity: 1;
    right: 42%;
    top: 2em;
  }
}

.middle-display {
    display: flex;
    justify-content: center;
    padding-top: 75px;
    padding-bottom: 50px;
}

.subheading-middle {
    display: flex;
    justify-content: center;
}

header.masthead {
    text-align: center;
    background-image: url("../low-poly-texture.png");
    background-size: 100%;
    background-position: center;
    min-height: 100vh;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding-bottom: 55px;
}
.message-struct-section {
    div.row {
        padding: 10px;
        background-color: rgba(255,255,255,0.7) !important;
    }
    h3 {
        margin-bottom: 30px !important;
    }
    background-image: url("../mountains.jpg");
    min-height: 100vh;
    background-position: center;
    background-size: 100%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.service-section {
    div.row {
        padding: 10px;
        background-color: rgba(255,255,255,0.9) !important;
        padding-bottom: 40px;
    }
    h4 {
        font-size: 1.4em;
    }

    h7 {
        font-size: 1.3em;
        padding-top: 20px !important;
        font-weight: bold;
    }
    p {
        font-size: 1.2em;
        color: black !important;
    }

    background-image: url("../multibuisness.png") ;
    min-height: 100vh;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.container-fluid {
    padding: 0px;
}

.form-control {
    border-radius: 0;
}


.table-bordered {
    background-color: rgba(255,255,255,0.6);
    margin-top: 10px;
    max-height: 65vh;
    overflow-y: scroll;
}

.form-control-title {
    width: 100%;
    background: transparent;
    border-top: 0px;
    border-left: 0px;
    border-right: 0px;
    display: block;
    margin-top: 20px;
    border-radius: 0;
    font-size: 2em;
    padding: 5px;
    color: #495057;
    border-bottom: 1px solid #ced4da;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

}

.breadcrumb {
    background-color: inherit;
    list-style: none;
    display: flex;
    border: none;
    background-color: inherit;
    margin: auto;
    padding: auto;

    & .breadcrumb-item {
        border: none;
        background-color: inherit;

        & > .breadcrumb-link {
            background-color: inherit;
            border: none;
            font-weight: 600;
            transition: all 0.4s ease;
            // transition: color 0.5s ease;

            &:hover {
                background-color: #bc0031;
                color: whitesmoke;
            }
        }
    }
}

.btn {
    border-radius: 0;
}

.btn-submit {
    background-color: $default-green;
    border-color: $default-green;
}

.btn-submit:focus,
.btn-submit:hover {
    background-color: darken($default-green, 5%);
    border-color: darken($default-green, 5%);
}

.btn-submit:not(.disabled):not(:disabled):active {
    background-color: darken($default-green, 7%);
    border-color: darken($default-green, 7%);
}

.btn-submit:disabled {
    background-color: darken($text-color-lighter, 7%);
    border-color: darken($text-color-lighter, 7%);
}

.btn-primary {
    background-color: $default-red;
    border-color: $default-red;
}

.btn-primary:focus,
.btn-primary:hover {
    background-color: darken($default-red, 5%);
    border-color: darken($default-red, 5%);
}

.btn-primary:not(.disabled):active {
    background-color: darken($default-red, 7%);
    border-color: darken($default-red, 7%);
}


.close-button{
    float: right;
}

.middle-button{
    // width: 10%;

}

.btn-primary:disabled {
    background-color: darken($text-color-lighter, 7%);
    border-color: darken($text-color-lighter, 7%);
}

.btn-close-note {
    float: right;
    padding-right: 0px;
    padding-top: 0px;
    background-color: white;
    opacity: 0.4;
}
.btn-close-note:hover {
    opacity: 1;
}

.list-course {
    background: #FFF;
    overflow-x: hidden !important;
    display: block;
    box-shadow: 0 2px 4px 0 rgba(50,50,93,0.3);
    color: $default-red;
    transition: transform 0.1s ease-in-out;
}
.home-scroll-courses {
    max-height:60vh;
    overflow-y: scroll;
}
a.list-course:hover, a.list-course:focus {
    // transform: translate(0.5em);
    overflow-x: hidden;
    color: white !important;
}
div.notification-container {
    background-color: rgba(255,255,255,.5);
    box-shadow: 0 2px 4px 0 rgba(50,50,93,.1);
    height: 100%;
    max-height:60vh;
    overflow-y: scroll;
}

div.homescreen-container {
    width: 50%;
    height: 100%;
    float: right;
}

.list-ticket {
    padding: 18px 24px;
    background: #FFF;
    display: block;
    box-shadow: 0 2px 4px 0 rgba(50,50,93,.1);
    margin-bottom: 1em;
    color: $default-red;
    transition: transform 0.1s ease-in-out;
}

.list-ticket-ta {
    padding: 18px 24px;
    background: #FFF;
    box-shadow: 0 2px 4px 0 rgba(50,50,93,.1);
    margin-bottom: 1em;
    color: rgba(#000, 0.8);
    transition: transform 0.1s ease-in-out;
}

.material-card {
    background: #FFF;
    padding: 18px 24px;
    width: 100%;
    box-shadow: 0 2px 4px 0 rgba(50,50,93,.1);
}

a.list-ticket {
    text-decoration: none;
}

a.list-ticket:hover, a.list-ticket:focus {
    transform: translate(0.5em);
    color: white !important;
}


.notification {
    text-align: center;
    opacity: 0.7;
    font-style: italic;
    font-size: 1.5em;
    padding: 1em;
}

.message {
    margin-top: 1em;
}

.message {
    h4 {
        color: $default-red;
        font-size: 1rem;
        font-weight: bold;
        margin-left: 1em;
        margin-right: 1em;
    }

    h5 {
        color: $default-red;
    }

    .material-card {
        display: inline-block;
    }
}

.note {
    margin-top: 1em;

    & h4 {
        color:$default-red;
        font-size: 1rem;
        font-weight: bold;
    }

    & p {
        overflow-wrap: break-word;
    }
}

.note-add-button {
    margin: 15px 10px;
}

.create-button {
    margin-bottom: 40px;
    width: 20%;
    background-color: $default-red;
    position: absolute;
    bottom: 0;
}
.create-button:hover {
    background-color: darken($default-red, 7%);
}

.dropdown-button {
    background-color: darken(#FFF, 2%);
    width: 100%;
    color: $text-color-def;
    font-size: 1.5em;
}
.dropdown-button:enabled:focus {
    color: white;

}

// Reply area is the part of the messaging system that contains
// the input field and the submit button.
.reply-area {
    width: 100%;
    bottom: 1em;
    display: block;
    margin-top: 2em;
    margin-bottom: 4em;
}

.reply-area {
    textarea {
        box-shadow: $light-shadow;
        border: 0;
        resize: none;
        padding: 0.5em;
        width: 100%;
        margin-bottom: 1em;
    }

    .reply-button {
        margin-left: 2rem;
        height: 4rem;
        width: 4rem;
        text-align: center;
        line-height: 4rem;
        font-size: 1.5em;
        box-shadow: $light-shadow;
    }
}

hr {
    border-color: $default-red;
}

.summary-container {

}
.summary-container {
  margin: 0px auto;
  position: fixed;
  width: 80%;
  height: 40%;
  bottom: 0%;
  z-index: 1;
  -webkit-transition: opacity 0.1s ease-in-out;
  left: 50%;
  padding-bottom: 10px;
  margin-left: -40%;
}

.summary-header{
    h3 {
        font-size: 1.4em;
        padding-top: 5px;
        padding-bottom: 5px;
    }
  width: 100%;
  margin-top: 0;
  background-color: #bc0031;
  color: white;
  z-index: 0;
  z-index: 1;
  text-align: center;
  box-shadow: 1px 2px 8px rgba(0, 0, 0, .33);
}

.summary-header h3 {
  color: white;
}
.summary-wrapper {
  background-color: darken(#FFF, 3%);
  border-radius: 2px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, .33);
  transition: all .3s ease-out;
  font-family: Helvetica, Arial, sans-serif;
  height: 100%;
}
.summary-tab {
    position: relative;
    height: 100%;
}
.modal-body {
  margin: 20px 0;
}

.modal-default-button {
  float: right;
}

.modal-enter {
  opacity: 0;
}

.modal-leave-active {
  opacity: 0;
}

.modal-enter .modal-container,
.modal-leave-active .modal-container {
  -webkit-transform: scale(1.1);
  transform: scale(1.1);
}

.summary-tab{
  width: 40%;
  float: left;

}
.summary-tab-notes{
  width: 25%;
  float: left;
}
.summary-tab-original {
    width: 35%;
    float: left;
}

.middle {
    border-left: 1px solid $default-red;
    border-right: 1px solid $default-red;
}

.summary-content {
    height: 80%;
    padding: 10px;
  width: 100%;
  overflow: auto;
}

.close-sum {
  z-index: 100000;
  right: 0;
  background-color: white;
  color: $default-red;
  position: absolute;
  float: right;
  padding-top: 2px;
  line-height: 1.2;
  font-size: 1.4em;
}
.close-sum:hover {
    color: white;
    background-color: $default-red !important;
}

.noreply-text {
    font-size: 18px;
    font-family: 'Montserrat', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    text-align: center;
    vertical-align: middle;
}

.sum {

  width: auto;
  word-wrap: break-word;
}

.sum-original {

  padding: 10px;
  word-wrap: break-word;
}

footer {
    a {
        color: white !important;
        opacity: 0.6 !important;
        margin-left: 10px !important;
        padding-bottom: 0px;
        text-shadow: 1px 2px #000 !important;
        background: transparent;
        border: 0px!important;
        vertical-align: bottom;

    }
}
footer:hover {
    a {
        opacity: 1 !important;
        border: 0px!important;
        background: transparent;
    }

}

hr {
       padding: 0;
       margin: 8px auto;
       height: 0;
       width: 50%;
       max-height: 0;
       font-size: 2px;
       line-height: 0;
       clear: both;
       border: none;
       border-top: 2px solid #aaaaaa;
       border-bottom: 1px solid #ffffff;
    }
